/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main.css */

*{
	border: 1px dotted #BBB;
}
/* */
.clearfix{
	overflow: auto;
}

body{
  background-color: #AEEAFF;
}





/************** Main Styles **************/
main{
  color:#000;
  border: 1px solid #BBB;
  width: 50%;
  margin: 1.5em auto;
  box-shadow: 0 0 5px #AAA;
  border-radius: 1%;
  background-color: rgba(255,255,255, 0.85);
}
header{
	background: linear-gradient(#43B9FF, #1F93FF);
}

h1{
	color: #FFF;
	font-size: 1.5em;
	padding: 3px 3px 3px 14px;
}
button{
  font-size: 1.2em;
  border: 1px dotted #bbb;
  color: #FF9212;
  background: none;
}
button:active{
	color: #FF5812;
}

section{ 
  border: 1px solid #bbb;
  padding: 5px;
}
/************* Post Widget Styles **************/
aside{	
  border: 1px solid #BBB;
}
aside h2{
	color: #FF9212;
	font-size: 1.2em;
	margin: 5px 5px 5px 15px;
}
form{
	border: 1px dotted #bbb;
	margin: 0 1em 1em 1em;
	padding: 0.5em;
}
form label{
	font-size: 1em;
	font-weight: bold;
	color: #1B316B;
}
form input{
	display: block;
	margin: 2px 2px 10px 2px;
}
form textarea{
	display: block;
	width: 60%;
	height: 5em;
}
form input[type="submit"]{
	margin: 5px;
	border: 2px solid #bbb;
	background: linear-gradient(#FFF, #AEEAFF);	
	border-radius: 10%;
}
/************* Feed Styles **************/
.feed {
  border: 1px solid #BBB;
 }

.feed li {
  border: 1px solid #BBB;
  padding: 0.25em;
  font-size: 0.7em;
}
.feed .img{
	float: left;
	display: inline-block;
	height: 48px;
	width: 48px;
	border: 1px solid #bbb;
	border-radius: 5%;
	background-repeat: no-repeat;
	background-color: #EEE;
	background-image: url("img/1462076343_user-alt.png");
	background-size: 100%;
}
.feed li .txt{
	float: right;
	width: 85%;
	border: 1px solid #BBB;
	text-align: left;
	padding: 4px;
}

.feed .txt a{
	font-size: 1.4em;
	font-weight: bold;
	color: #1B316B;
}

.feed .txt a:active{
	color: #3B6AE8;
}

.feed .txt i{
	float: right;
	color: #48C;
}

.feed .txt p{
	clear: both;
	font-size: 1.35em;
	line-height: 1.2;
}

