body{
	background-color: #FFF;
}

header{
	background-color: #FFF;
	box-shadow: 1px 1px 5px #888888;
	margin: 2% 0;
	height: 4em;
}

h1{
	color: #000;
	display: block;
	margin: auto;
	width: 120px;
	font-size: 3em;
}

main{
  background-color: #FFF;
  color:#000;
  border: 1px solid #BBB;
  width: 60%;
  margin: 0 auto;
  padding: 1em;
  font-size: 1.4em;
}